h1 {
  text-align: center;
  top: 20px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 65px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.questionconatiner{
  height: 150px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
  padding: 0px 50px 10px 50px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

.timer{
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  text-align: center;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

.score{
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  top: 10px;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

.wrapper {
  text-align: center;
}

button {
    bottom: 20px;
    top: 20px;
}

.picturecontainer{
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.picture {
  height: 270px;
  width: 230px;
  border-radius: 60%;
  margin-right: 25px;
  margin-left: 25px;
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
}

.donald {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 60px;
    margin-right: 50px;
}

#donaldhalo {
    width: 180px;
    margin-right: 600px;
    margin-left: 45px;
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: -10px
}

#donalddevil {
    width: 180px;
    margin-left: 50px;
    margin-right: 35px;
    visibility: hidden;
    position: absolute;
    top: -90px;
}

#mustache {
    width: 100px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    top: 130px;
    visibility: hidden;
}

.kanye {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 60px;
}


#kanyehalo {
    width: 180px;
    margin-right: 50px;
    margin-left: 45px;
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: -10px;
}

#kanyedevil {
    width: 180px;
    margin-left: 40px;
    margin-right: 35px;
    visibility: hidden;
    position: absolute;
    top: -80px;
}

#minniemouse {
    width: 170px;
    margin-left: 60px;
    top: -40px;
    position: absolute;
    display: inline-block;
    visibility: hidden;
}

.voldemort {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 60px;
    margin-left: 50px;
}


#voldemorthalo {
    width: 180px;
    margin-right: 45px;
    margin-left: 45px;
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: -10px;
}

#voldemortdevil {
    width: 180px;
    margin-left: 45px;
    margin-right: 35px;
    visibility: hidden;
    position: absolute;
    top: -90px;
}

#sunglasses {
    width: 100px;
    position: absolute;
    display: inline-block;
    width: 170px;
    margin-left: 70px;
    top: 50px;
    visibility: hidden;
}



@media (max-width: 900px){
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
    .timer {
        font-size: 30px;
    }
    .score {
        font-size: 30px;
    }

}
